.container {
  display: flex;
  height: 100vh;
}

.left-panel {
  width: 50%;
  padding: 10px;
  background-color: #f1f1f1;
  overflow-y: auto;
}

.left-panel h3 {
  margin-bottom: 10px;
}

.left-panel ul {
  list-style-type: none;
  padding: 0;
}

.folder-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 5px;
  transition: background-color 0.2s, color 0.2s;
}

.folder-item:hover {
  background-color: #dcdcdc;
}

.folder-item.active {
  background-color: #cce5ff;
  color: #0056b3;
}

.separator {
  width: 2px;
  background-color: black;
}

.right-panel {
  width: 50%;
  padding: 10px;
  background-color: #fff;
  overflow-y: auto;
}

.right-panel h3 {
  margin-bottom: 10px;
}

.right-panel ul {
  list-style-type: none;
  padding: 0;
}

.subfolder-item,
.file-item {
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 5px;
}
